// d3-Olympics Configuration


// 1. Typography ==//==
$axix-base-font-family:  quote("Helvetica Neue"), Helvetica, Arial, sans-serif !default;
$axix-base-font-family-sans-serif:              quote("Open Sans"), sans-serif !default;
// 1.0 Base Font Size
$axix-base-font-size:                                                  0.875em !default; // 14px
$axix-root-font-size:                                                  1.144em !default; // 16px
// 1.1 Heading: <h1> to <h2>
$axix-olympics-font-size-h1:             floor(($axix-root-font-size * 1.645)) !default;
$axix-olympics-font-size-h2:             floor(($axix-root-font-size * 1.308)) !default;
// 1.2 Line Height
$axix-base-line-height:                                            1.428571429 !default; // [20/14]
$axix-line-height-computed: floor(($axix-base-font-size * $axix-base-line-height)) !default; // ~20px

// 2. Colors ==//==
$axix-brand-olympics-white-color-hex:                                  #FFFFFF !default;
$axix-brand-olympics-white-color-rgb:                         rgb(255,255,255) !default;
$axix-brand-olympics-gold-color-hex:                                   #FFD800 !default;
$axix-brand-olympics-gold-color-rgb:                            rgb(255,216,0) !default;
$axix-brand-olympics-goldenrod-color-hex:                              #DAA520 !default;
$axix-brand-olympics-goldenrod-color-rgb:                      rgb(218,165,32) !default;
$axix-brand-olympics-silver-color-hex:                                 #C0C0C0 !default;
$axix-brand-olympics-silver-color-rgb:                        rgb(192,192,192) !default;
$axix-brand-olympics-bronze-color-hex:                                 #CD8032 !default;
$axix-brand-olympics-bronze-color-rgb:                         rgb(205,128,50) !default;
// 2.1 Olympics Brand
$axix-brand-olympics-color-hex:                                        #A45B4F !default;
$axix-brand-olympics-color-rgb:                                 rgb(164,91,79) !default;
